.visualization__section {
  &--hourly {
    display: flex;
    flex-direction: column;

    &--general {
      display: flex;
    }
  }
  &--details {
    display: flex;
    justify-content: space-between;
  }
  .hourly__details {
    display: flex;
    flex-direction: column;
  }
}