.header {
  height: 40vh;
  background-image: linear-gradient(
    to right bottom, 
    rgba($color-primary-light, .795), 
    rgba($color-primary-dark, .795)),
    url('../img/hero.jpg');
  background-size: cover;
  background-position: top;
  position: relative;

}

