.visualization {
  &__section {
    border: 1px solid $color-primary;
    margin-bottom: 5rem;

    &__content {
      padding: 2rem;
      
      .details {
        padding: 3rem;
        border: 1px solid black;
        margin: 1rem 0;
  
        &--general {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
        }
        &--specific {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
        }

        .weekly__details, .hourly__details {
          font-size: 1.2rem;
        }
      }
    }
  }
}