.visualization {
  &__section {
    border: 1px solid $color-primary;
    margin-bottom: 5rem;

    &__content {
      padding: 2rem;
      
      .details {
        padding: 3rem;
  
        &--general {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
        }
        &--specific {
          display: flex;
          justify-content: space-around;
        }
      }
    }
  }
}