body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #000;
  padding: 3rem;
}

.heading--primary {
  color: $color-primary;
  font-size: $font-size-primary;
  font-weight: 700;
}

.heading--secondary {
  font-size: $font-size-secondary;
  font-weight: 600;
  display: inline-block;
}

.heading--tertiary {
  font-size: $font-size-tertiary;
  font-weight: 500;
  padding: 1.5rem 0;
}

.heading--quaternary {
  font-size: $font-size-quaternary;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.wi {
  font-size: 5rem;
  padding: 1.5rem 0;
}