body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #000;

  input[type=text] {
    width: 25rem;
    margin-right: 1rem;
    padding: 1rem;
    border: 1px solid $color-primary;
    border-radius: 5px;
  }
}

.heading--primary {
  color: $color-primary;
  font-size: $font-size-primary;
  font-weight: 700;
}

.heading--secondary {
  font-size: $font-size-secondary;
  font-weight: 600;
  display: inline-block;
}

.heading--tertiary {
  font-size: $font-size-tertiary;
  font-weight: 500;
}

.heading--quaternary {
  font-size: $font-size-quaternary;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.wi {
  font-size: 5rem;
  padding: 1.5rem 0;
}

.nav {
  li, a {
    display: inline-block;
    font-weight: 520;
    font-size: $font-size-secondary;
    text-decoration: none;
    color: $color-primary;
    transition: all .4s;

    &:not(:last-child) {
      margin-right: 3rem;
    }

    &:hover {
      color: $color-primary-dark;
    }
  }
}

.link {
  display: inline-block;
  color: $color-tertiary;
  text-decoration: none;
  transition: all .3s;

  &:hover {
    transform: translateY(-.3rem);
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 10px
  }
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 9px;
  }
}

@media only screen and (max-width : 900px) {
  html {
    font-size: 8px;
  }
}
