.u-center-text {
  text-align: center;
}

.u-margin-bottom-large {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-color-temp-high {
  color: #d34c42;
}
.u-color-temp-medium {
  color: #ff7000;
}
.u-color-temp-low {
  color: #007aff;
}

.u-color-temp-low-night {
  color: #557191;
}