// COLORS
$color-primary: #558B9B;
$color-secondary: #FFFFFF;
$color-tertiary: #6D5E91;

$color-primary-dark: #2a4952;
$color-primary-light: #FFFFFF;

$color-white: #fff;
$color-grey-dark: #777;
$color-black: #000;
$color-grey-light-1: #f7f7f7;

// GRID
$grid-width: 114rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 5rem;

// FONT
$default-font-size: 1.3rem;

$btn-color-submit: $color-tertiary;
$text-color-light: #fff;
$text-color-invalid: #d34c42;

$font-size-primary: 3.5rem;
$font-size-secondary: 2.5rem;
$font-size-tertiary: 2rem;
$font-size-quaternary: 1.5rem;