// COLORS
$color-primary: #558B9B;
$color-secondary: #FFFFFF;
$color-tertiary: #517D82;

$color-primary-dark: #231F21;
$color-primary-light: #FFFFFF;

$color-white: #fff;
$color-grey-dark: #777;
$color-black: #000;
$color-grey-light-1: #f7f7f7;

// GRID
$grid-width: 114rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 5rem;

// FONT
$default-font-size: 1.3rem;

$btn-color-submit:#54e04e;
$text-color-light: #fff;

$font-size-primary: 3rem;
$font-size-secondary: 2.5rem;
$font-size-tertiary: 2rem;
$font-size-quarternary: 1.5rem;