.btn {
  &:link,
  &:visited {
    text-decoration: none; 
    padding: 5rem;
    border-radius: 10px;
    display: inline-block;
    transition: all .2s;
    position: relative;
    background-color: $btn-color-submit;
    color: $text-color-light;
  }

  &:hover {
    color: blue;
  }
}